# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.iml
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Kauri Project Files and Stuffs
**/.idea/**
**/out/**
**/.idea/misc.xml
*.lst
.idea/**
/**/target/**
**/target/**
.settings
classes/**
out/**
target/**
**/target/**
*.properties
dependency-reduced-pom.xml
**/dependency-reduced-pom.xml
